[Unit]
Description=Workarounds for UniFi Site Magic bugs (wgsts1000)
Wants=network-online.target
After=network-online.target

[Service]
Type=oneshot
ExecStartPre=/bin/sleep 30
ExecStart=/data/fix-site-magic.sh
Restart=on-failure
RestartSec=10

[Install]
WantedBy=multi-user.target
